
footer{
  background-color: var(--bg-gainsboro);
  padding: 70px 0 0 0;
  position: relative;
  font-size: 13px;
}
footer .img1{
  position: absolute;
  bottom: 0;
  left: 50%;
}
footer .img2{
  position: absolute;
  bottom: 30%;
  left: 0;
  z-index: 1;
}
footer .img3{
  position: absolute;
  top: 0;
  right: 0;
}
footer .container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .container .section1{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
  gap: 20px;
}
footer .section1 .contact,
footer .section1 .subscribe,
footer .section1 .info{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: start;
  z-index: 2;
} 

footer .section1 .contact p{
  margin-top: 0;
}
footer .section1 .info p{
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
}
footer .section1 input{
  padding: 20px;
  font-size: 16px;
  width: 300px;
  box-shadow: 3px 3px 0 black;
  border: 1px black solid;
  transition: .3s;
}
footer .section1 input:focus{
  outline: none;
  box-shadow: none;
}
footer .section1 .info i{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(218, 218, 218);
  color: black;
  width: 50px;
  font-size: 23px;
  border-radius: 50%;
  border: 2px black solid;
  box-shadow: 1px 1px 0 black;
  transition: .3s;
}

footer .section1 .info i:hover{
  color: var(--text-orange-crayola);
  border-color: var(--text-orange-crayola);
  transform: translateY(-4px);
}
footer .section1 .info .icons{
  display: flex;
  gap: 10px;
  z-index: 10;
}
footer .section1 .scpical_button{
  margin: 0;
}
footer .section1 h3{
  font-size: 19px;
  margin: 0;
}
footer .container .section2{
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 100px 0 20px 0;
}
footer .container .section2::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: black;
}
footer .container .section2 ul{
  display: flex;
  justify-content: start;
  gap: 15px;
  padding: 0;
}
footer .container .section2 ul a{
  font-weight: 500;
  font-size: 14px;
  transition: .4s;
}
footer .container .section2 ul a:hover{
  color: var(--text-orange-crayola);
}
footer .container .section3{
  text-align: center;
  z-index: 3;
}
#contact.active{
  color:var(--text-orange-crayola)
}

@media (max-width: 768px) {
  footer .section1 .contact,
  footer .section1 .subscribe,
  footer .section1 .info{
    gap: 20px;
    z-index: 2;
  } 
  footer .section1 .info i{
  width: 40px;
  height: 40px;
  font-size: 18px;
}
  footer .container .section1 p{
    font-size: 12px ;;
  }
  footer .container .section2{
    display: flex;
    flex-direction: column;
    padding: 50px 0 20px 0;
  }
  footer .container .section2 a{
    font-size: 12px !important;
  }
  footer .img1{
  width: 200px;
  z-index: 1;
}
footer .img2{
  
  width: 130px;
  z-index: 1;
}
footer .img3{
  width: 170px;
}
}